*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
    list-style: none;
    text-decoration: none;
}
.txt-16px{
    font-size: 16px;
    color: #625656;
}
.txt_bold{
    font-size: 18px;
    color: #625656;
    font-weight: 700;
}
#header{

}
#header .top_header{
    height: 40px;
    background-color: #FDE2E2;
}
.top_header .r-top_header{
    height: 40px;
}
.top_header .icon-truck{
    font-size: 18px;
    color: #625656;
}
.top_header .tag-a-top_header{
    text-decoration: none;
}
.top_header .icon_fb{
    font-size: 24px;
    color: #0468ff;
}
.top_header .icon_zalo{
    width: 24px;
    height: 24px;
}
.top_header .txt-fb , .top_header .txt-zalo{
    font-size: 16px;
    color: #625656;
    font-weight: 600;
}
.top_header .txt-fb:hover , .top_header .txt-zalo:hover{
    color: #fff;
}

#header .bottom_headder {
    height: 124px;
    background-color: #eee9e6;
}
.bottom_headder .img_logo{
    width: 120px;
    height: 120px;
}
.bottom_headder .search_header {
    width: 700px;
    height: 42px;
    font-size: 18px;
    color: #625656;
    border-radius: 6px;
    padding-left: 8px;
    position: relative;
}
.bottom_headder .icon_search{
    position: absolute;
    bottom: 128px;
    right: 436px;
    font-size: 20px;
    color: #887a7a;
}
.bottom_headder .icon_search:hover{
    opacity: 0.7;
    cursor: pointer;
}
.bottom_headder .sdt_header{
    font-size: 18px;
    font-weight: 600;
    color: #625656;
}
