*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
    list-style: none;
    text-decoration: none;
}
.txt-decoration_none{
    text-decoration: none;
}
.txt-16px{
    font-size: 16px;
    color: #625656;
}
.txt_bold{
    font-size: 18px;
    color: #625656;
    font-weight: 700;
}
#header{

}
#header .top_header{
    height: 40px;
    background-color: #FDE2E2;
}
.top_header .r-top_header{
    height: 40px;
}
.top_header .icon-truck{
    font-size: 18px;
    color: #625656;
}
.top_header .tag-a-top_header{
    text-decoration: none;
}
.top_header .icon_fb{
    font-size: 24px;
    color: #0468ff;
}
.top_header .icon_zalo{
    width: 24px;
    height: 24px;
}
.top_header .txt-fb , .top_header .txt-zalo{
    font-size: 16px;
    color: #625656;
    font-weight: 600;
}
.top_header .txt-fb:hover , .top_header .txt-zalo:hover{
    color: #fff;
}

#header .bottom_headder {
    height: 124px;
}
.bottom_headder .img_logo{
    width: 120px;
    height: 120px;
}
.bottom_headder .search_header {
    width: 700px;
    height: 42px;
    font-size: 18px;
    color: #625656;
    border-radius: 6px;
    border: 1px solid #b3b0b0;
    padding-left: 8px;
    outline: none;
}
.bottom_headder .icon_search{
    font-size: 24px;
    color: #c19292;
    margin-left: -32px;
}
.bottom_headder .icon_search:hover{
    opacity: 0.7;
    cursor: pointer;
}
.bottom_headder .sdt_header{
    font-size: 18px;
    font-weight: 600;
    color: #c19292;
}


/* navbar */
#navbar{
    background: #f6f6f6;
    height: auto;
}
#navbar .nav_links{
    list-style: none;
}

.nav_links .nav_link{
    font-size: 20px;
    color: #625656;
    text-decoration: none;
    padding: 11px 30px;
    font-weight: 600;
}
.nav_links .nav_link:hover{
    background-color: #c19292;
    color: #f6f6f6;
}

#navbar .banner{
    height: 500px;
}
#main{
    background-color: #fce2e1;
}
#main .title_txt{
    background-color: #bf2352;
    height: 40px;
}
#main .txt_sale{
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    padding: 16px;
}
#main .icon_bold{
    font-size: 24px;
    border: #fff 2px solid;
    border-radius: 50px;
    padding: 3px 4px 3px 5px;
    color: #fff;
}
#main .card_product{
    border: 1px solid #ccc;
    background-color: #fff;
}
.card_product .img-card_product{
    height: 300px;
}
.card_product .info_card{
    padding: 12px;
}
.card_product .info_card .name_product{
    font-size: 20px;
    color: #bf2352;
    font-weight: 600;
}
.info_card .price-no_sale{
    font-size: 18px;
    color: #625656;
    font-weight: 600;
    text-decoration: line-through;
}
.info_card  .price_sale{
    font-size: 18px;
    color: #625656;
    font-weight: 600;
    color: #bf2352;
}
.info_card .percent{
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    padding: 2px 4px;
    background-color:#b12424ed;
    border-radius: 5px;
}
#main .title_txt2{
    background-color: #fff;
    height: 40px;
}
#main .txt_sale2{
    font-size: 24px;
    font-weight: 700;
    color: #bf2352;
    padding: 16px;
}

#main .ega-policies{
    background-color: #fff;
}
.ega-policies .icon_policies{
    font-size: 16px;
    color: #bf2352;
    border: 2px solid #bf2352;
    border-radius: 50px;
    padding: 15px 12px 10px 14px;
}
.ega-policies .txt-policies{
    font-size: 18px;
    color: #bf2352;
    font-weight: 500;

}
.ega-policies .desc_policies{
    font-size: 14px;
    color: #6b6868;
}
